<table>
  <tr>
    <td>
      <app-month-view
        #previousMonthView 
        [date]='previousMonth' 
        [numberofWeeksShown]='6'
        (nextClick)='onNextClick()'
        (previousClick)='onPreviousClick()'
        (yearChanged)='onYearChanged($event)'
      ></app-month-view>
    </td>
    <td>
      <app-month-view
        #centerMonthView
        [date]='centerMonth' 
        [numberofWeeksShown]='6'
        (nextClick)='onNextClick()'
        (previousClick)='onPreviousClick()'
        (yearChanged)='onYearChanged($event)'
      ></app-month-view>
    </td>
    <td>
      <app-month-view
        #nextMonthView
        [date]='nextMonth' 
        [numberofWeeksShown]='6'
        (nextClick)='onNextClick()'
        (previousClick)='onPreviousClick()'
        (yearChanged)='onYearChanged($event)'
      ></app-month-view>
    </td>
  </tr>
</table>
